<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geoscope.GeoEye"
    android:versionCode="6"
    android:versionName="2.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" >
    </uses-permission>
    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" >
    </uses-permission>
    <uses-permission android:name="android.permission.BATTERY_STATS" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_VIDEO" >
    </uses-permission>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="TReflector"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="TReflectorConfigurationPanel"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/reflector_configuration"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="TNewUserRegistrationPanel"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/SNewUserRegistration"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="TTrackerPanel"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/tracker_panel_caption"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="TTrackerPOIPanel"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/tracker_poi"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="TTrackerPOITextPanel"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="TTrackerPOIVideoPanel"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="TReflectorCoGeoMonitorObjectPanel"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.DefaultTransparent" >
        </activity>
        <activity
            android:name="TReflectorCoGeoMonitorObjectsPanel"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.DefaultTransparent" >
        </activity>
        <activity
            android:name="TReflectorNewCoGeoMonitorObjectPanel"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="TReflectorCoGeoMonitorObjectsConfigurationPanel"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="TMapObjectsPanel"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.DefaultTransparent" >
        </activity>
        <activity
            android:name="TReflectorElectedPlacesPanel"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.DefaultTransparent" >
        </activity>
        <activity
            android:name="TReflectorNewElectedPlacePanel"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="TReflectionWindowConfigurationPanel"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.DefaultTransparent" >
        </activity>
        <activity
            android:name="TReflectionWindowEditorPanel"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="TReflectionWindowEditorCommittingPanel"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="TUserListPanel"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.DefaultTransparent" >
        </activity>
        <activity
            android:name="TUserChatPanel"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.DefaultTransparent" >
        </activity>
        <activity
            android:name="com.geoscope.GeoLog.DEVICE.VideoRecorderModule.TVideoRecorderPanel"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.geoscope.GeoLog.DEVICE.VideoRecorderModule.TVideoRecorderPropsPanel"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>

        <receiver
            android:name="com.geoscope.GeoLog.TrackerService.TOnBootReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.geoscope.GeoLog.TrackerService.TTrackerWatcher" >
        </receiver>
        <receiver
            android:name="com.geoscope.GeoEye.UserAgentService.TOnBootReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.geoscope.GeoEye.UserAgentService.TUserAgentWatcher" >
        </receiver>

        <service
            android:name="com.geoscope.GeoLog.TrackerService.TTrackerService"
            android:enabled="true" >
        </service>
        <service
            android:name="com.geoscope.GeoEye.UserAgentService.TUserAgentService"
            android:enabled="true" >
        </service>
    </application>

</manifest>